!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Wizard Spot
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body#page-top{"data-spy" => "scroll", "data-target" => ".navbar-fixed-top"}
    / Navigation
    %nav.navbar.navbar-custom.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-main-collapse", "data-toggle" => "collapse", :type => "button"}
            %i.fa.fa-bars
          %a.navbar-brand.page-scroll{:href => "#page-top"}
            %i.fa.fa-magic
            %span.light Wizard
            Spot
        / Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          %ul.nav.navbar-nav
            = yield :nav_links
    .container
      - flash.each do |name, msg|
        = content_tag :div, class: "alert alert-#{name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do
          %button.close{type: "button", data: {dismiss: "alert"} }
            %span{aria: {hidden: "true"} } &times;
            %span.sr-only Close
          = msg
    = yield
    / Footer
    %footer
      .container.text-center
        %p Copyright © Wizard Spot 2016
